.DS_Store
.gitconfig
.git-credentials
checkm_data_2015_01_16.tar.gz
util/
benchmarking_data/
example_input_data/cami_challenge/
example_input_data/MetaHIT_data/
example_input_data/mosaic_challenge/
example_input_data/new_simulations/camisim_outputs/
example_input_data/new_simulations/catalogue.mmi
example_input_data/new_simulations/
wandb/
assembly_summary.txt
